<h1>Welkom {{given_name}} {{family_name}}</h1>
<form method="POST" action="" name="po_review" id="postop_review_form">
	<label for="postop_review_rating">Waardering:</label> <select name="po_rating" id="postop_review_rating">
		<option value=5>*****</option>
		<option value=4>****</option>
		<option value=3>***</option>
		<option value=2>**</option>
		<option value=1>*</option>
	</select>
	<label for="postop_review_body">Uw feedback:</label>
	<textarea name="po_body" id="postop_review_body" placeholder="Schrijf uw feedback a.u.b. hier"></textarea>
	<label for="postop_review_permission">Mogen we uw feedback op onze website publiceren? <input type="checkbox" id="postop_review_permission" name="po_permission" checked></label><br />
	<input type="submit" name="submit" value="Feedback versturen">
</form>