
	<div class="postop_dotline"></div>
	<div id="postop_id_{{id}}" class="postop_review" itemprop="review" itemscope itemtype="http://schema.org/Review">
		<meta itemprop="author" content="{{author}}" />
		<div class="postop_hide" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
			<meta itemprop="bestRating" content="5" />
			<meta itemprop="worstRating" content="1" />
			<meta itemprop="ratingValue" content="{{rating}}" />
		</div>
		<div class="postop_review_ratingValue">{{stars}}</div>
		<div class="postop_review_datePublished" itemprop="datePublished">{{date}}</div> 
		<div class="postop_review_author">door 
			<span class="postop_caps">
					{{author}}
			</span>
		</div>
		<div class="postop_clear"></div>
		<blockquote class="postop_content" itemprop="reviewBody">
			<p>
				{{body}}
			</p>
		</blockquote>
	</div>