<div class="postop_review_item">
	<div class="postop_item postop_business" itemscope itemtype="http://schema.org/LocalBusiness">
		<meta itemprop="name" content="{{name}}" />
		<meta itemprop="url" content="{{url}}" />
		<meta itemprop="telephone" content="{{phone}}" />
		<div class="postop_hide" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="{{street}}" />
			<meta itemprop="addressLocality" content="{{city}}" />
			<meta itemprop="addressRegion" content="{{region}}" />
			<meta itemprop="addressCountry" content="{{country}}" />
			<meta itemprop="postalCode" content="{{zip}}" />
		</div>
		<div class="aggregateRating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
			<meta itemprop="bestRating" content="5" />
			<meta itemprop="worstRating" content="1" />
			<meta itemprop="ratingValue" content="{{aggregate_rating}}" />
			<meta itemprop="reviewCount" content="{{review_count}}" />
			<span class="aggregateRating_overallText">Gemiddelde beoordeling: </span>&nbsp;
			<div class="aggregateRating_ratingValue">{{stars}}</div>&nbsp;
			<span class="aggregateRating_reviewCount">{{review_count}} reviews</span>
		</div>
		{{#reviews}}
		<div id="postop_id_{{id}}" class="wrap postop_review" itemprop="review" itemscope itemtype="http://schema.org/Review">
			<meta itemprop="author" content="{{author}}" />
			<div class="postop_hide" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<meta itemprop="bestRating" content="5" />
				<meta itemprop="worstRating" content="1" />
				<meta itemprop="ratingValue" content="{{rating}}" />
			</div>
			<div class="postop_review_ratingValue">{{stars}}</div>
			<div class="postop_review_datePublished" itemprop="datePublished">{{date}}</div> 
			<div class="postop_review_author">door 
				<span class="postop_caps">
						{{author}}
				</span>
			</div>
			<div class="postop_clear"></div>
			<blockquote class="postop_content" itemprop="reviewBody">
				<p>
					{{body}}
				</p>
			</blockquote>
		</div>
		{{/reviews}}
	</div>
</div>